<h1 class="calendarTitle text-center">Schedule</h1>
{{#if calendars.length}}
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Workout</th>
        <th>Set Number</th>
        <th>Rep Amount</th>
        <th>Weight</th>
        <th>Weight Type</th>
        <th>Date</th>
        <th>Remove from Schedule</th>
      </tr>
    </thead>
        <tbody>
        {{#each calendars as |calendar| }}
                <tr>
    
                    <td>{{calendar.exercise_name}}</td>
                    <td>{{calendar.set_amount}}</td>
                    <td>{{calendar.rep_amount}}</td>
                    <td>{{calendar.weight}}</td>
                    <td>{{calendar.weight_type}}</td>
                    <td>{{calendar.date}}</td>
                    <td><button class="deleteBtn" data-id="{{calendar.program_id}}">Remove Workout</button></td>
                    
                </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{else}}
        <p>No workouts to display</p>
{{/if}}
<script src='/js/calendar.js'></script>