<h1 class="calendarTitle">Schedule</h1>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Workout</th>
        <th>Set Number</th>
        <th>Rep Amount</th>
        <th>Weight</th>
        <th>Weight Type</th>
        <th>Comments</th>
        <th>Date</th>
        <th>Remove from Schedule</th>
      </tr>
    </thead>
        <tbody>
        {{#each workouts}}
                <tr>
    
                    <td>{{SessionWorkouts.exercise_name}}</td>
                    <td>{{SessionWorkouts.set_number}}</td>
                    <td>{{SessionWorkouts.rep_amount}}</td>
                    <td>{{SessionWorkouts.weight}}</td>
                    <td>{{SessionWorkouts.weight_type}}</td>
                    <td>{{SessionWorkouts.comments}}</td>
                    <td>{{SessionWorkouts.date}}</td>
                    <td><button class="deleteBtn">Remove Workout</button></td>
                    
                </tr>
        {{else}}
        <p>No workouts to display</p>
        {{/each}}
        </tbody>
    </table>
</div>
<script src='/js/calendar.js'></script>